
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('active_mach') }}">Active Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('hold_mach') }}">On Hold</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('repeat_madd') }}">Add To Tower</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('repeat_mach') }}">Repeat Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('future_mach') }}">Future Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('tbr_mach') }}">TBR Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('machhome') }}">Machining Home</a></li>
        

        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('active_saw') }}">Active Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('onorder_saw') }}">On Order</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('material_saw') }}">Need Material</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('future_saw') }}">Future Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('tbr_saw') }}">TBR Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('sawhome') }}">Saw Home</a></li>


        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('active_tl') }}">Active Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('onorder_tl') }}">On Order</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('material_tl') }}">Need Material</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('future_tl') }}">Future Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('tbr_tl') }}">TBR Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('tlhome') }}">Tube Laser Home</a></li>




        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('active_slaser') }}">Active Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('onorder_slaser') }}">On Order</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('material_slaser') }}">Need Material</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('future_slaser') }}">Future Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('tbr_slaser') }}">TBR Jobs</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('slaserhome') }}">Static Laser Home</a></li>



        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdarchive') }}">Archive</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdcust') }}">Custom</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdals') }}">Aluminum</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdsss') }}">Stainless Steel</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdcrs') }}">Cold Rolled Steel</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('bdhome') }}">BD Home</a></li>




        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('delivered') }}">Delivered</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('shipfull') }}">Full</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('shippart') }}">Partial</a></li>
        <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('shipping') }}">Shipping Home</a></li>
