{% extends 'slaserbase.html' %}

{% block content %}
    <h1 align='center'>All Active SLaser Jobs</h1>
    <br>
    <body>
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Filter Table">
            <table id="myTable">
                <tr class="header">
                    <th scope="col">Job No</th>
                    <th scope="col">Part No</th>
                    <th scope="col">Revision</th>
                    <th scope="col">Qty</th>
                    <th scope="col"><time datetime="MM-YYYY">Due Date</time></th>
                    <th scope="col">Customer</th>
                    <th scope="col">Type</th>
                    <th scope="col">Area</th>
                    <!-- <th scope="col">Materials</th> -->
                </tr>
            {% for t in tl %}
                <tr id={{ t[10] }}>
                    <td><a href="/edit_slaser/{{ t[10] }}"><span style="font-weight:bold">{{ t[0] }}</span></a></th>
                    <td align='center'> {{ t[1] }} </td>
                    <td align='center'> {{ t[2] }} </td>
                    <td align='center'> {{ t[3] }} </td>
                    <td align='center'> {{ t[4] }} </td>
                    <td align='center'> {{ t[5] }} </td>
                    <td align='center'> {{ t[6] }} </td>
                    <td align='center'> {{ t[7] }} </td>
                    <!-- <td align='center'><pre style="font-size:1.1em; margin: 0; top: 50%;">{{ t[20] }}</pre></td> -->
                </tr>
            {% endfor %}
            </table>

<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 1; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[1].textContent.toUpperCase();
        var thirdCol = rows[i].cells[4].textContent.toUpperCase();
        var fourthCol = rows[i].cells[5].textContent.toUpperCase();
        var fifthCol = rows[i].cells[6].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>

    </body>

{% endblock %}
