{% extends 'bdbase.html' %}

{% block content %}
    <h1 align='center'>Add Bend Deduction</h1>
    <form method="POST" id="target">
        <div class="form-group">
            <p class="formTitle">Material Type</p><input type="text" class="form-control formName" name="matl">
        </div>
        <div class="form-group">
            <p class="formTitle">Description</p>
            <select name="desc" class="formDropDown">
                <option value="ALS">ALUMINUM</option>
                <option value="ARCH">ARCHIVE</option>
                <option value="CUST">CUSTOM</option>
                <option value="CRS">CARBON STEEL</option>
                <option value="SSS">STAINLESS STEEL</option>
            </select>
        </div>
        <!-- <div class="form-group"> -->
        <!--     <p class="formTitle">Description</p><input type="text" class="form-control formName" name="desc"> -->
        <!-- </div> -->
        <div class="form-group">
            <p class="formTitle">Material Gauge</p><input type="text" class="form-control formName" name="gauge">
        </div>
        <div class="form-group">
            <p class="formTitle">Material Thickness</p><input type="text" class="form-control formName" name="thick">
        </div>
        <div class="form-group">
            <p class="formTitle">Bend Radius</p><input type="text" class="form-control formName" name="rad">
        </div>
        <div class="form-group">
            <p class="formTitle">Bend Deduction</p><input type="text" class="form-control formName" name="bd">
        </div>
        <div class="form-group">
            <p class="formTitle">Punch Tooling</p><input type="text" class="form-control formName" name="pt">
        </div>
        <div class="form-group">
            <p class="formTitle">Die Tooling</p><input type="text" class="form-control formName" name="dt">
        </div>
        <div class="form-group">
            <p class="formTitle">Notes</p><input type="text" class="form-control formName" name="notes">
        </div>

        <button type="submit" class="btn btn-block btn-primary formBtn">Submit</button>
    </form>
{% endblock %}
