{% extends 'tlmatlbase.html' %}

{% block content %}
    <h1 align='center'>New Program</h1>
    <form method="POST" id="target">
        <div class="form-group">
            <p class="formTitle">Program Name</p> <input type="text" class="form-control formName" name="name">
        </div>
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="need" placeholder="Need Checkbox">
        </div>
        <div class="form-group">
            <p class="formTitle">Material Notes</p> <input type="text" class="form-control formNote" name="needn">
        </div>
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="ordr" placeholder="Order Checkbox">
        </div>
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="ordrn" placeholder="Order Notes">
        </div>
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="verf" placeholder="Verify Notes">
        </div>
        <!-- <div class="form-group"> -->
        <!--     <input type="checkbox" id="verf" name="verf" class="formVerify"> -->
        <!--     <label for="verf">Material Verified</label> -->
        <!-- </div> -->
        <div class="form-group">
            <p class="formTitle">Program Notes</p> <input type="text" class="form-control formVerify" name="verfn">
        </div>
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="done" placeholder="Done">
        </div>

        <button type="submit" class="btn btn-block btn-primary formBtn">Submit</button>
    </form>
{% endblock %}
