{% extends 'maintbase.html' %}

{% block content %}
    <h1 align='center'>New Request</h1>
    <form method="POST" id="target">
        <div class="form-group">
            <p class="formTitle">Requested By</p> <input type="text" class="form-control formName" name="rname">
        </div>
        
        <div class="form-group">
            <p class="formTitle">Area / Department</p> <input type="text" class="form-control formName" name="area">
        </div>
        
        <div class="form-group">
            <p class="formTitle">Machine / Equipment / Other</p> <input type="text" class="form-control formName" name="rmach">
        </div>
        
        <div class="form-group">
            <p class="formTitle">Request Date</p> <input type="text" class="form-control formName" name="rdate">
        </div>
        
        <div class="form-group">
            <p class="formTitle">Type of Request</p>
            <select name="rtype" class="formDropDown">
                <option value="Routine">Routine</option>
                <option value="Emergency">Emergency</option>
                <option value="Safety">Safety</option>
                <option value="Planned">Planned</option>
            </select>
        </div>
        
        <div class="form-group">
            <p class="formTitle">Description of Problem</p> <input type="text" class="form-control formName" name="rdesc">
        </div>
        
        <div class="form-group" style="display: none">
            <p class="formTitle">Repairs Authorized By</p> <input type="text" class="form-control formName" name="aname">
        </div>
        
        <div class="form-group" style="display: none">
            <p class="formTitle">Repair Person</p> <input type="text" class="form-control formName" name="rpname">
        </div>
        
        <div class="form-group" style="display: none">
            <p class="formTitle">Description of Repair</p> <input type="text" class="form-control formName" name="rpdesc">
        </div>
        
        <div class="form-group" style="display: none">
            <p class="formTitle">Total Repair Time</p> <input type="text" class="form-control formName" name="rptime">
        </div>
        
        <div class="form-group" style="display: none">
            <p class="formTitle">Date Repair Complete</p> <input type="text" class="form-control formName" name="rpdate">
        </div>
        
        <div class="form-group" style="display: none">
            <input type="text" class="form-control" name="done" placeholder="Need Checkbox">
        </div>

        <button type="submit" class="btn btn-block btn-primary formBtn">Submit</button>
    </form>
{% endblock %}
