{% extends "maintbase.html" %}

{% block content %}
    <h2 align="center">Maintenance Completed</h2>
    <br>
    <body>
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Filter Table">
        <table id="myTable">
            <tr class="header">
                <th scope="col">ID</th>
                <th scope="col">Area</th>
                <th scope="col">Issue</th>
                <th scope="col">Repaired By</th>
                <th scope="col">Description</th>
                <th scope="col">Repair Time</th>
                <th scope="col">Repair Date</th>
            </tr>
            {% for t in mtodos %}
                {% if t.done == 'on' %}
                    <tr id={{ t.id }}>
                        <td><a href="/edit_maint/{{ t.id }}"><span style="font-weight:bold">{{ t.id }}</span></a></th>
                        <td align='center'> {{ t.area }} </td>
                        <td align='center'> {{ t.rdesc }} </td>
                        <td align='center'> {{ t.rpname }} </td>
                        <td align='center'> {{ t.rpdesc }} </td>
                        <td align='center'> {{ t.rptime }} </td>
                        <td align='center'> {{ t.rpdate }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 1; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[1].textContent.toUpperCase();
        var thirdCol = rows[i].cells[2].textContent.toUpperCase();
        var fourthCol = rows[i].cells[3].textContent.toUpperCase();
        var fifthCol = rows[i].cells[4].textContent.toUpperCase();
        var sixthCol = rows[i].cells[5].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1 || sixthCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>

    </body>
{% endblock %}
