{% extends 'purchbase.html' %}

{% block content %}
    <h1 align='center'>Enterprise</h1>
    <div class="line"></div>
    <h2>This is a work in progress - 04/28/22</h2>
    <!-- {% for n in note %} -->
    <!--     <h1 align='center'>Notes</h1> -->
    <!--     <div class="pnotes"> -->
    <!--         <h3 align='center'>{{ n.notes }}</h3> -->
    <!--     </div> -->
    <!--     <a href="/edit_slasern/{{ n.id }}"><span class="pnBtn" style="font-weight:bold">Edit</span></a> -->
    <!-- {% endfor %} -->
{% endblock %}
