{% extends "base.html" %}

{% block content %}
    <h1 align="center">Monarch Metal Home</h1>
    <br>
    <h2 align="center">All Current Requests / Bug Reports</h2>
    <br>
    <body>
        <table id="myTable">
            <tr class="header">
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Area</th>
                <th scope="col">Description</th>
                <th scope="col">Requester</th>
            </tr>
            {% for t in todos %}
                {% if t.done != 'on' %}
                    <tr id={{ t.id }}>
                        <td><a href="/edit_todo/{{ t.id }}"><span style="font-weight:bold">{{ t.id }}</span></a></th>
                        <td align='center'> {{ t.rtype }} </td>
                        <td align='center'> {{ t.area }} </td>
                        <td align='center'> {{ t.desc }} </td>
                        <td align='center'> {{ t.name }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="backend_todo">
            <button class="btn btn-block btn-primary todoBtn">Add New</button>
        </a>
    </body>
{% endblock %}
