{% extends "maintbase.html" %}

{% block content %}
    <h2 align="center">Maintenance Requests</h2>
    <br>
    <body>
        <table id="myTable">
            <tr class="header">
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Area</th>
                <th scope="col">Description</th>
                <th scope="col">Requested By</th>
                <th scope="col">Request Date</th>
                <th scope="col">Authorized By</th>
            </tr>
            {% for t in mtodos %}
                {% if t.done != 'on' %}
                    <tr id={{ t.id }}>
                        <td><a href="/edit_maint/{{ t.id }}"><span style="font-weight:bold">{{ t.id }}</span></a></th>
                        <td align='center'> {{ t.rtype }} </td>
                        <td align='center'> {{ t.area }} </td>
                        <td align='center'> {{ t.rdesc }} </td>
                        <td align='center'> {{ t.rname }} </td>
                        <td align='center'> {{ t.rdate }} </td>
                        <td align='center'> {{ t.aname }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="backend_maint">
            <button class="btn btn-block btn-primary todoBtn">Add New</button>
        </a>
    </body>
{% endblock %}
