{% extends 'slaserbase.html' %}

{% block content %}
    <h1 align='center'>Material Needed</h1>
    <br>
    <body>
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Filter Table">
            <table id="myTable">
                <tr class="header">
                    <th scope="col">Job No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Part No</th>
                    <th scope="col"><time datetime="MM-YYYY">Due Date</time></th>
                    <th scope="col">Material Notes</th>
                </tr>
            {% for t in tl %}
                <tr id={{ t[10] }}>
                    <td><a href="/edit_slaser/{{ t[10] }}"><span style="font-weight:bold">{{ t[0] }}</span></a></th>
                    <td align='center'> {{ t[9] }} </td>
                    <td align='center'> {{ t[1] }} </td>
                    <td align='center'> {{ t[4] }} </td>
                    <!-- <td align='center'> {% if t[12] == 'None' %}  {% else %} {{ t[12] }} {% endif %} </td> -->
                    <!-- <td align='center' style="width: 200px"><pre style="font-size:16px;"><code>{% if t[12] == 'None' %}  {% else %} {{ t[12] }} {% endif %}</code></pre></td> -->
                    <!-- <td align='center' style="width: 200px"><pre style="font-size:16px;"><code>{{ t[12] }}</code></pre></td> -->
                    <td align='center'> {% if t[12] == 'None' %}  {% else %} {{ t[12] }} {% endif %} </td>
                </tr>
            {% endfor %}
            </table>

<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 1; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[1].textContent.toUpperCase();
        var thirdCol = rows[i].cells[2].textContent.toUpperCase();
        var fourthCol = rows[i].cells[3].textContent.toUpperCase();
        var fifthCol = rows[i].cells[4].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>

    </body>

{% endblock %}
