{% extends 'engbase.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h1 align='center'>Remove 1 Time Code</h1>
    <br>
    <table class="table" id="df4">
        <thead>
            <tr>
                <th scope="col"><h4>Pulsar</h4></th>
                <th scope="col"><h4>Mitsubishi</h4></th>
                <th scope="col"><h4>Fixture</h4></th>
                <th scope="col"><h4>Murata</h4></th>
                <th scope="col"><h4>Vipros</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align='center'><h5> {% for pl in rmp %} {{ pl }} <br> {% endfor %} </h5></td>
                <td align='center'><h5> {% for mt in rmm %} {{ mt }} <br> {% endfor %} </h5></td>
                <td align='center'><h5> {% for fl in rmfl %} {{ fl }} <br> {% endfor %} </h5></td>
                <td align='center'><h5> {% for mr in rmr %} {{ mr }} <br> {% endfor %} </h5></td>
                <td align='center'><h5> {% for vp in rmv %} {{ vp }} <br> {% endfor %} </h5></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
