{% extends 'engbase.html' %}

{% block content %}
    <h1 align='center'>Add To Tower</h1>
    <br>
    <body>
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Filter Table">
            <table id="myTable">
                <tr class="header">
                    <th scope="col">Job No</th>
                    <th scope="col">Step No</th>
                    <th scope="col">Part No</th>
                    <th scope="col">Revision</th>
                    <th scope="col">Qty</th>
                    <th scope="col"><time datetime="MM-YYYY">Due Date</time></th>
                    <th scope="col">Customer</th>
                    <th scope="col">Type</th>
                    <th scope="col">Next Step</th>
                    <th scope="col">Print</th>
                </tr>
            {% for e in eng %}
                <tr id={{ e[14] }}>
                    <td><span style="font-weight:bold">{{ e[1] }}</span></th>
                    <td align='center'> {{ e[2] }} </td>
                    <td align='center'> {{ e[5] }} </td>
                    <td align='center'> {{ e[7] }} </td>
                    <td align='center'> {{ e[8] }} </td>
                    <td align='center'> {{ e[12] }} </td>
                    <td align='center'> {{ e[13] }} </td>
                    <td align='center'> {{ e[10] }} </td>
                    <td align='center'> {{ e[26] }} </td>
                    <td align='center'> {% if e[27] == 0 %} <span>&#10003;</span> {% else %} {% endif %} </td>
                </tr>
            {% endfor %}
            </table>

<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 1; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[2].textContent.toUpperCase();
        var thirdCol = rows[i].cells[5].textContent.toUpperCase();
        var fourthCol = rows[i].cells[6].textContent.toUpperCase();
        var fifthCol = rows[i].cells[8].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>
    
    </body>
{% endblock %}
