{% extends 'engbase.html' %}

{% block content %}
        <br>
        <br>
        <br>
        <br>
        <h1 align='center'>Standard Operating Procedures</h1>
        <br>
        <br>
        <h2 align='center'><u>General</u></h2>
        <h3 align='center'><a href="/run/user/1000/gvfs/smb-share:server=tower.local,share=Training/Training Guides/Printing a Traveler/Drawing Example.jpg">Bend Deduction Chart</a></h3>
        <h3 align='center'><a href="/home/monarchhome/Projects/mmhome/PDF/132252.pdf"> Deduction Chart</a></h3>
        <br>
        <h2 align='center'><u>Others</u></h2>
        <br>
        <br>
{% endblock %}
