{% extends 'maintbase.html' %}

{% block content %}
<h1 align='center'>Update Maintenance Request</h1>
    <br>
    <form method="POST" id="target">

        <div class="form-group">
            <p class="formTitle">Requested By</p>  <input type="text" class="form-control formJob" name="rname" value="{{ data.rname }}" placeholder="" readonly>
        </div>

        <div class="form-group">
            <p class="formTitle">Area / Department</p>  <input type="text" class="form-control formJob" name="area" value="{{ data.area }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Machine / Equipment / Other</p>  <input type="text" class="form-control formJob" name="rmach" value="{{ data.rmach }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Request Date</p>  <input type="text" class="form-control formJob" name="rdate" value="{{ data.rdate }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Type of Request</p>  <input type="text" class="form-control formJob" name="rtype" value="{{ data.rtype }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Description of Problem</p>  <input type="text" class="form-control formJob" name="rdesc" value="{{ data.rdesc }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Repairs Authorized By</p>  <input type="text" class="form-control formJob" name="aname" value="{{ data.aname }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Repair Person</p>  <input type="text" class="form-control formJob" name="rpname" value="{{ data.rpname }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Description of Repair</p>  <input type="text" class="form-control formJob" name="rpdesc" value="{{ data.rpdesc }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Total Repair Time</p>  <input type="text" class="form-control formJob" name="rptime" value="{{ data.rptime }}" placeholder="">
        </div>

        <div class="form-group">
            <p class="formTitle">Date Repair Complete</p>  <input type="text" class="form-control formJob" name="rpdate" value="{{ data.rpdate }}" placeholder="MM/DD/YY">
        </div>

        <div class="form-group">
            <input id='donecb' class="formVerify" type="checkbox" value='on' name="done" {% if data.done == 'on' %} checked {% else %} {% endif %}> Completed
            <input id='donecbhidden' type="hidden" value='' name="done">
        </div>

        <button type="submit" class="btn btn-block btn-primary formBtn">Update</button>
    </form>
{% endblock %}
