{% extends 'tlmatlbase.html' %}

{% block content %}
    <h1 align='center'>Ready To Run</h1>
    <br>
    <body>
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Filter Table">
            <table id="myTable">
                <tr class="header">
                    <th scope="col">Program</th>
                    <th scope="col">Material Notes</th>
                    <th scope="col">Program Notes</th>
                </tr>
            {% for t in tlm %}
                {% if t.done != 'on' and t.verf == 'on' %}
                    <tr id={{ t.id }}>
                        <td><a href="/edit_tlm/{{ t.id }}"><span style="font-weight:bold">{{ t.name }}</span></a></th>
                        <td align='center'> {{ t.needn }} </td>
                        <td align='center'> {{ t.verfn }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>

<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 1; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[1].textContent.toUpperCase();
        var thirdCol = rows[i].cells[2].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>

    </body>

{% endblock %}
