{% extends 'tlbase.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h1 align='center'>Jobs on Hold</h1>
    <br>
    <div class="table-responsive">
        <table class="table" id="df4">
            <thead>
                <tr>
                    <th scope="col">Job No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Part No</th>
                    <!-- <th scope="col">Revision</th> -->
                    <!-- <th scope="col">Qty</th> -->
                    <th scope="col"><time datetime="MM-YYYY">Due Date</time></th>
                    <!-- <th scope="col">Cust</th> -->
                    <!-- <th scope="col">Material</th> -->
                    <th scope="col">Reason</th>
                    <!-- <th scope="col">Action</th> -->
                </tr>
            </thead>
            <tbody>
            {% for t in tl %}
                <tr id={{ t[10] }}>
                    <th scope="row"><a href="/edit_tl/{{ t[10] }}">{{ t[0] }}</a></th>
                    <td align='center'> {{ t[9] }} </td>
                    <td align='center'> {{ t[1] }} </td>
                    <!-- <td align='center'> {{ t[2] }} </td> -->
                    <!-- <td align='center'> {{ t[3] }} </td> -->
                    <td align='center'> {{ t[4] }} </td>
                    <!-- <td align='center'> {{ t[5] }} </td> -->
                    <!-- <td align='center'> {% if t[11] == 'on' %} X {% else %} {% endif %} </td> -->
                    <!-- <td align='center'> {{ t[12] }} </td> -->
                    <td align='center'> {% if t[16] == 'None' %}  {% else %} {{ t[16] }} {% endif %} </td>
                    <!-- <td align='center'> <a href="/edit_tl/{{ t[10] }}">Edit</a> </td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
